.footer {
    background-color: #252422;
    color: #fffcf2;
    padding: 3rem 2rem 1rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  
  .footer-brand {
    max-width: 600px;
  }
  
  .footer-logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 4px; /* Optional: aligns better with text */
  }
  
  .footer-brand h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .footer-links {
    display: flex;
    gap: 4rem;
  }
  
  .footer-links h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 0.5rem;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #ccc;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid #444;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
  
  .footer-bottom a {
    color: #ccc;
    text-decoration: none;
  }
  .footer-bottom p {
    margin: 0;
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    color: #fff;
  }
  
  .logo-text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 750px;
    flex-wrap: nowrap; /* Make sure it stays in row */
  }
  

    .brand-text h3 {
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: 10px;
    }

    .brand-text p {
        text-align: justify;
        line-height: 1.5;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        margin: 0;
        color: #ccc;
        text-decoration: none;
    }

  
  